html {
  font-size: 16px;
}

body {
  background-color: #1d2225;
  color: #cdd3de;
  font-size: 16px;
  font-family: "Jost";
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

main {
  margin: 0 auto;
  max-width: 70rem;
}
