.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 4rem;
}

.header__logo {
  display: block;
  height: 2rem;
}

.header__link {
  color: inherit;
  text-decoration: none;
  margin-left: 4rem;
  display: inline-flex;
  align-items: center;

  &--primary {
    line-height: 1;
    border: 1px solid currentColor;
    padding: 0.5rem 1rem;
    border-radius: 2px;
  }
}
