.work {
  margin-bottom: 200px;
  background-color: lighten(#1d2225, 4%);
  border-radius: 4px;
  padding: 3rem;
}

.workplace-list {
  display: flex;
  border-top: 1px solid lighten(#1d2225, 20%);
  padding-top: 2rem;
}

.workplace {
  position: relative;
  width: 33.3333%;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid lighten(#1d2225, 20%);
    position: absolute;
    top: calc(-2.5rem - 1px);
    background-color: lighten(#1d2225, 4%);
  }
}

.workplace__logo {
  fill: #fff;
  margin-bottom: 1rem;
}

.workplace__period {
  font-size: 0.8rem;
  color: lighten(#1d2225, 40%);
}
